{%extends 'encyclopedia/layout.html'%}

{% block title %}
    Create new page
{% endblock %}

{% block body %}
    <form method="post" action="{% url 'create' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="t">Title:</label>
            <input type="text" class="form-control" id="t" name="t" placeholder="New page title">
        </div>

        <div class="form-group">
            <label for="c">Content:</label>
            <textarea class="form-control" id="c" rows="10" name="c" placeholder="New page content"></textarea>
        </div>
        <button type="submit" class="btn btn-primary mb-2">Save</button>
    </form>

{% endblock %}