{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Watchlist</h2>
    <ul class="nav">
        {% if nowatchlist %}
            {{nowatchlist}}
        {%else%}
            {% for i in watchlist %}
                <li class="nav-item">
                    <div>
                        <a href="{% url 'listing' i.id %}"><h3>Listing {{i.id}}: {{i.title}}</h3></a>
                    </div>

                    <div>
                        <img src="{{i.img_url}}" width="300" height="300">
                    </div>

                    <div>
                        Description: {{i.description}}
                    </div>

                    <div>
                        Price: ${{i.currentbid}}
                    </div>
                </li>
            {% endfor %}
        {%endif%}
    </ul>

{% endblock %}